@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  background-image: url(bonfirebackground.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* color: rgb(165, 136, 97); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', serif;
}
.title {
  color: rgb(165, 136, 97);
}
.subtitle {
  color: white;
}