/* .youCopiedTransition-enter {
    opacity: 0;
}
.youCopiedTransition-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}
.youCopiedTransition-exit {
    opacity: 1;
}
.youCopiedTransition-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
} */

.youCopiedModal {
    /* position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer; */
    /* visibility: hidden; */
    /* opacity: 0; */
    background-color: rgba(0,0,0,.3);
    color: red;
    font-size: 100px;
}